@tailwind base;
@tailwind components;
@tailwind utilities;

*,
* ::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  transition: 0.3s ease all;
  -webkit-transform: 0.3s ease all;
  -moz-transform: 0.3s ease all;
  -ms-transform: 0.3s ease all;
  -o-transform: 0.3s ease all;
}

img:hover {
  scale: 102%;
}
